build/classes
build/tmp
target/
library/classes/
.classpath
.project
.settings/
.externalToolBuilders/
distribution/
lib/
data/
TODO
NOTES
bin/
reference/
materials/
library/tmp/jar/MANIFEST.MF
.gradle/
*.swp
*.un~
.DS_Store
